.signin-input {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #0cbdc9;
  box-sizing: border-box;
}
.container-signup {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background: url(../assets/ACHPcc5f24.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.sign-in form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.sign-in {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* row-gap: 10px; */
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffffffa9;
  box-shadow: #ffffff00;
  border-radius: 25px;
  height: 100vh;
}

input[type="file"] {
    padding: 0 !important;
  /* height: 50px; */
  border: 1px solid #0cbdc9;
  text-align: center;
  place-content: center;
}

input[type=file]::file-selector-button {
    margin-right: 8px;
    border: none;
    background: #084cdf;
    color: #fff;
    cursor: pointer;
    height: 50px;
}
.link {
  border-radius: 5px;
  text-align: center;  
}
