/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.container-app{
  background: url(./assets/ACHPcc5f24.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  

}
.sign-up {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffffa9;
  box-shadow: #ffffff00;
  border-radius: 25px;
  height: 90vh;
}
.sign-up img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  align-self: center;
}

.sign-buton {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.sign-up form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

}
.signin-link {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.link:hover {
  color: white;
  background-color: blue;
}
.link {
  border-radius: 5px;
  text-align: center;  
}

